# system
.DS_Store

# front-end development
node_modules

# test coverage reports
/coverage

# preserve vscode workspace settings
# /.vscode

# cargo production
/target
# swc cache
.swc

# ignore submodule
/packages/es-sniper
